[submodule "zsh-completions"]
	path = zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "z"]
	path = z
	url = https://github.com/rupa/z.git
[submodule "zsh-syntax-highlighting"]
	path = zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh-notify"]
	path = zsh-notify
	url = https://github.com/marzocchi/zsh-notify.git
[submodule "zplug"]
	path = zplug
	url = https://github.com/zplug/zplug.git
